{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Login</title>
    </head>

    <body>

        <div class="flex-container">
            <div class="center-div">

                <h1 class="main-header-login">Login</h1>

                <div class="login-container">
                    <div class="top-notch"></div>
                    {% if error_message %}
                    {{error_message}}
                    {% endif %}
                    <img src="{% static 'images/recipe-two.jpg' %}" alt="recipe-image" class="login-image" />
                    <form action="" method="POST" class="login-form">
                        {% csrf_token %}
                        {{form}}
                        <div class="button-holder">
                            <button type="submit" class="login-form-button">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </body>

</html>