{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Logged out</title>
    </head>

    <body>

        <div class="flex-container">
            <div class="center-div">

                <h1 class="main-header-login">Thanks for visiting!</h1>


                <div class="login-container">
                    <div class="top-notch"></div>
                    <div>
                        <img src="{% static 'images/recipe-three.jpg' %}" alt="recipe-image" class="login-image" />
                    </div>
                    <div class="logout-side-message">
                        <div class="logout-top-message">
                            <h2 class="logout-message">You have been successfully logged out</h2>
                            <p class="logout-submessage">We will see you next time!</p>
                        </div>
                        <div>

                            <p class="re-log-message">Logged out by mistake? Log back in to continue</p>
                            <div class="button-holder">
                                <a href="{%url 'login' %}" class="login-button-onlogout">Login</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>