{% load static %} <!-- Load static files to use in the template -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Meta tags and links for responsive design, font styling, and external CSS -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-config" content="{% static 'images/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <title>The Recipe App</title>

    </head>

    <body>

        <!-- Main container with login button and welcome message -->
        <div class="flex-container">
            <div class="center-div">
                <h1 class="main-header main-page-header">Welcome to the Recipe App</h1>
                <div class="login-container">
                    <div class="top-notch"></div>
                    <img src="{% static 'images/recipe-one.jpg' %}" alt="recipe-image" class="login-image" />
                    <div class="login-form">
                        <p class="login-welcome">Login to get started!</p>
                        <a href="{%url 'login' %}" class="login-button">Login</a>
                    </div>
                </div>
                <div class="about-button-holder">
                    <a href="#" id="aboutLink" class="about-link">About</a>
                </div>
            </div>
        </div>

        <!-- About Modal -->
        <div id="aboutModal" class="modal" style="display:none;">
            <div class="register-modal-content">
                <div class="modal-top-notch"></div>
                <span class="close">&times;</span>
                <div class="about-header">
                    <h2 class="about-header-main">About The Recipe App</h2>
                    <p>The Recipe App is a fully functional web application designed to allow users to create, read, and
                        modify recipes, as well as search for recipes based on ingredients and other parameters. Built
                        with
                        Python and Django, this app demonstrates the capabilities of modern web application development,
                        including user authentication, dynamic content creation, and data visualization. The project
                        aims to
                        showcase the developer's understanding of the Django web framework and their ability to develop
                        a
                        comprehensive web application.</p>
                </div>
                <div class="about-mid-section"></div>
                <div class="about-footer">
                    <p>Designed by Jordan Nelson</p>
                    <a href="https://jordannelson.dev/" target="_blank" class="learn-more-link">Learn more about the
                        developer</a>
                </div>
            </div>

        </div>


        <!-- External JavaScript -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>

</html>